Ehecatl/Service References/DymosWebService/StockWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.cls.wwg.dymos.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax29="http://model.cls.wwg.dymos.com/xsd" targetNamespace="http://ws.cls.wwg.dymos.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>StockWS</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.cls.wwg.dymos.com/xsd">
      <xs:complexType name="StockWSDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="item_cd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stock_qty" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax210="http://model.cls.wwg.dymos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.cls.wwg.dymos.com">
      <xs:import namespace="http://model.cls.wwg.dymos.com/xsd" />
      <xs:element name="InsertStockWS">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="vendor_cd" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="stockWSDTO" nillable="true" type="ax210:StockWSDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertStockWSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax210:StockWSDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InsertStockWSRequest">
    <wsdl:part name="parameters" element="ns:InsertStockWS" />
  </wsdl:message>
  <wsdl:message name="InsertStockWSResponse">
    <wsdl:part name="parameters" element="ns:InsertStockWSResponse" />
  </wsdl:message>
  <wsdl:portType name="StockWSPortType">
    <wsdl:operation name="InsertStockWS">
      <wsdl:input wsaw:Action="urn:InsertStockWS" message="ns:InsertStockWSRequest" />
      <wsdl:output wsaw:Action="urn:InsertStockWSResponse" message="ns:InsertStockWSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockWSSoap11Binding" type="ns:StockWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStockWS">
      <soap:operation soapAction="urn:InsertStockWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockWSSoap12Binding" type="ns:StockWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStockWS">
      <soap12:operation soapAction="urn:InsertStockWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockWSHttpBinding" type="ns:StockWSPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertStockWS">
      <http:operation location="InsertStockWS" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockWS">
    <wsdl:port name="StockWSHttpSoap11Endpoint" binding="ns:StockWSSoap11Binding">
      <soap:address location="http://clsmt.hyundai-dymos.com/services/StockWS.StockWSHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="StockWSHttpSoap12Endpoint" binding="ns:StockWSSoap12Binding">
      <soap12:address location="http://clsmt.hyundai-dymos.com/services/StockWS.StockWSHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="StockWSHttpEndpoint" binding="ns:StockWSHttpBinding">
      <http:address location="http://clsmt.hyundai-dymos.com/services/StockWS.StockWSHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>